/* =========================================
   1. FONTS & RESET นำเข้าฟอนต์ Prompt และ Roboto จาก Google Fonts 
   ========================================= */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
